---
import ProductCard from "../ProductCard.astro";
---

<ProductCard>
    <h1 slot="description">
        <a href="/baltic-energy/"
            >Electricity and natural gas market prices at your wristwatch</a
        >
    </h1>
    <a
        href="/baltic-energy/"
        title="Baltic Energy Apple Watch Application"
        slot="image"
    >
        <img
            src="/images/Baltic-Energy/v1.2/CurrentHour-44mm.png"
            srcset="/images/Baltic-Energy/v1.2/CurrentHour-44mm.png 1x, /images/Baltic-Energy/v1.2/CurrentHour-44mm@2x.png 2x"
            alt="Energy Live Apple Watch App"
        />
    </a>
    <a
        href="/baltic-energy/"
        title="Baltic Energy Apple Watch Application"
        slot="app-name"
    >
        <div class="flex items-center justify-center -ml-8">
            <img
                class="object-scale-down h-12 mx-3"
                src="/images/Baltic-Energy/BalticEnergy.png"
                srcset="/images/Baltic-Energy/BalticEnergy.png 1x, /images/Baltic-Energy/BalticEnergy@2x.png 2x"
                alt="Baltic Energy App Icon"
            />
            <span class="font-extrabold">Baltic Energy</span>
        </div>
    </a>
    <p slot="tagline">
        <small>Works in Estonia, Finland, Latvia, and Lithuania</small>
    </p>
    <div slot="badge">
        <a
            href="https://apps.apple.com/us/app/baltic-energy/id1607203216"
            title="Get on App Store"
        >
            <img
                src="/images/Download-on-the-App-Store/US/Download_on_App_Store/White_lockup/SVG/Download_on_the_App_Store_Badge_US-UK_RGB_wht_092917.svg"
                alt="Download on App Store"
            />
        </a>
    </div>
    <a
        slot="legal"
        class="font-normal opacity-50 hover:opacity-100"
        href="baltic-energy/privacy">Privacy Policy</a
    >
</ProductCard>
