---
import ProductCard from "../ProductCard.astro";
---

<ProductCard>
    <h1 slot="description">
        Nutritional information for the food in your grocery store
    </h1>
    <span slot="image" title="Nutrients application for macOS">
        <img
            class="my-2"
            src="/images/Nutrients/Nutrients-Iron.jpg"
            srcset="/images/Nutrients/Nutrients-Iron.jpg 1x, /images/Nutrients/Nutrients-Iron@2x.jpg 2x"
            alt="Nutrients application for macOS"
        />
    </span>
    <div
        slot="app-name"
        class="flex md:flex-row sm:flex-col items-center justify-center"
    >
        <img
            class="icon object-scale-down h-12 mx-3"
            src="/images/Nutrients/Nutrients App Icon@2x.jpg"
            alt="Public Records App Icon"
        />
        <span class="font-extrabold leading-none my-4 text-4xl lg:text-5xl"
            >Nutrients</span
        >
    </div>
    <p slot="tagline">
        <small>
            Food database and nutritional information for thousands of food
            items from Estonian grocery stores
            <span class="text-zinc-300">
                with the data from ©&nbsp;NutriData food composition database,
                version 12,
                <a href="https://tka.nutridata.ee/en/">tka.nutridata.ee</a>,
                2023
            </span>
        </small>
    </p>
    <div slot="legal" class="flex flex-row justify-center">
        <span class="font-normal opacity-20 hover:opacity-100 mx-4 line-through"
            >Agreement</span
        >
        <span class="font-normal opacity-20 hover:opacity-100 mx-4 line-through"
            >Privacy Policy</span
        >
    </div>
    <span slot="badge" title="Get on App Store">
        <img
            class="opacity-20"
            src="/images/Download-on-the-App-Store/US/Download_on_App_Store/White_lockup/SVG/Download_on_the_App_Store_Badge_US-UK_RGB_wht_092917.svg"
            alt="Download on App Store"
        />
    </span>
</ProductCard>
