---
import ProductCard from "../ProductCard.astro";
---

<ProductCard>
  <h1 slot="description">Public domain knowledge<br />one tap away</h1>
  <span
    slot="image"
    class="new-label-container"
    title="Public Records iOS Application Public Beta-Testing"
  >
    <!-- <div
            class="new-label uppercase text-center text-7xl leading-none text-white tracking-wide font-light bg-black border-8 border-red-500 opacity-95 px-16"
        >
            SHELVED
        </div> -->
    <img
      class="iphone my-6"
      src="/images/Public-Records/PublicRecords-Browse-iPhone11.jpg"
      srcset="/images/Public-Records/PublicRecords-Browse-iPhone11.jpg 1x, /images/Public-Records/PublicRecords-Browse-iPhone11@2x.jpg 2x"
      alt="Public Records iOS App"
    />
  </span>
  <div
    slot="app-name"
    class="flex md:flex-row sm:flex-col items-center justify-center md:-ml-8"
  >
    <img
      class="icon object-scale-down h-12 mx-4"
      src="/images/Public-Records/PublicRecords.png"
      srcset="/images/Public-Records/PublicRecords.png 1x, /images/Public-Records/PublicRecords@2x.png 2x"
      alt="Public Records App Icon"
    />
    <span class="font-extrabold leading-none my-4 text-4xl lg:text-5xl"
      >Public Records</span
    >
  </div>
  <p slot="tagline">
    <small
      >Listen to publicly available audiobooks narrated by volunteers of <a
        href="https://librivox.org">"LibriVox"</a
      ></small
    >
  </p>
  <div slot="legal" class="flex flex-row justify-center">
    <span class="font-normal opacity-20 hover:opacity-100 mx-4 line-through"
      >Agreement</span
    >
    <span class="font-normal opacity-20 hover:opacity-100 mx-4 line-through"
      >Privacy Policy</span
    >
  </div>
  <span slot="badge" title="Get on App Store">
    <img
      class="opacity-20"
      src="/images/Download-on-the-App-Store/US/Download_on_App_Store/White_lockup/SVG/Download_on_the_App_Store_Badge_US-UK_RGB_wht_092917.svg"
      alt="Download on App Store"
    />
  </span>
</ProductCard>

<style>
  .icon {
    border: 2px solid black;
    border-radius: 20%;
  }

  .iphone {
    max-height: 800px;
  }

  .watch {
    max-height: 450px;
  }

  .new-label {
    position: absolute;
  }

  .new-label-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
