---
import PublicRecordsPage from "../../components/product-page/PublicRecordsPage";
import Layout from "../../layouts/Layout.astro";
import PageHeader from ""
---

<Layout title="Echo" description="Apple Music to Spotify converter" ogTitle="Echo" ogDescription="Apple Music to Spotify converter" ogImage="https://badwrong.dev/images/Echo/EchoHome.jpg" twitterImage="https://badwrong.dev/images/Echo/EchoHome.jpg">
    <main class="flex flex-grow flex-col my-16 text-center justify-center items-center">
      <div class="p-8 flex flex-col items-center">
        <div class="flex flex-grow items-center">
          <img
            class="object-scale-down h-12 mx-4"
            src="/images/Echo/icon.png"
            srcSet="/images/Echo/icon.png 1x, /images/Echo/icon@2x.png 2x"
            alt="Echo App Icon"
          />
          <h1 class="text-4xl sm:text-5xl font-extrabold">Echo</h1>
        </div>
        <p class="text-2xl sm:text-3xl my-6 leading-normal max-w-4xl">
        Web-service for converting Apple Music playlists to Spotify. <span class="text-zinc-300">Unfortunately, Spotify didn't approve the commercial usage of their API for this service.</span>
        </p>
      </div>

      <div class="bg-black my-8 p-16 w-full flex items-center justify-center">
        <video controls>
          <source src="/video/Echo/Screencast.mp4" type="video/mp4" />
        </video>
      </div>
    </main>
</Layout>
