---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Baltic Energy">
    <h1>Baltic Energy</h1>
    <p>Coming soon...</p>
    <p><a href="/baltic-energy/privacy">Privacy</a></p>
</Layout>
