@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial",
      sans-serif;
  }

  body {
    height: 100vh;
    @apply flex flex-col min-h-full;
  }

  p a {
    @apply border-b-2 border-gray-200 leading-relaxed;
  }

  a:hover,
  a:active {
    color: #1E64E6;
    @apply transition-colors duration-200;
  }
}
