---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bad & Wrong">
  <main class="flex flex-grow flex-col justify-center items-center p-8">
    <article class="text-xl max-w-prose leading-normal text-center">
      <p class="py-4">
        <span class="italic">Bad & Wrong</span> is a software development firm
        based in Tartu, Estonia <br />
         and founded by
        <a class="border-b-2" href="https://www.linkedin.com/in/iharsuvorau">
          Ihar Suvorau
        </a>
         in 2021.
      </p>

      <p class="py-4">
        Expertise in software solutions design and development, data
        engineering, process mining, and geo-information systems.
      </p>

      <!-- <p class="text-zinc-400">
                Bachelor of Science &mdash;
                <span class="italic">Bioengineering and Robotics</span>
                <br />
                Master of Science in Engineering &mdash;
                <span class="italic">Software Engineering</span>
            </p> -->
    </article>
    <img
      class="sm:w-2/3 md:w-1/2 lg:w-1/3 m-8"
      src="/images/me.jpeg"
      alt="Ihar Suvorau"
    />

    <p>
      If you are interested in collaboration, please, contact me at
      <span class="italic">info@badwrong.dev</span>.
    </p>
  </main>
</Layout>
