---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bad & Wrong">
  <main class="flex flex-grow flex-col justify-center items-center p-8">
    <article
      class="flex flex-col flex-grow justify-center items-center text-xl max-w-prose leading-normal text-center"
    >
      <p class="py-4">
        <span class="italic">Bad & Wrong</span> specializes in custom software
        development and data engineering. Founded in Tartu, Estonia by <a
          class="border-b-2"
          href="https://www.linkedin.com/in/iharsuvorau">Ihar Suvorau</a
        > in 2021.
      </p>
      <img
        class="sm:w-3/3 md:w-2/3 lg:w-2/3 m-8"
        src="/images/me2.jpg"
        alt="Ihar Suvorau"
      />
      <p>
        Interested? Let's talk: <span class="italic">info@badwrong.dev</span>
      </p>
    </article>
  </main>
</Layout>
