---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bad & Wrong">
  <main class="flex flex-grow flex-col justify-center items-center p-8">
    <article
      class="flex flex-col flex-grow justify-center items-center prose-xl max-w-prose leading-normal text-center"
    >
      <h1>Hello, World!</h1>
      <p class="mb-2">
        <em>Bad<span class="mx-0.5">&amp;</span>Wrong</em> is a one-person software engineering shop. <br class="hidden md:inline"/>Founded in Tartu, Estonia by <a href="https://www.linkedin.com/in/iharsuvorau">Ihar Suvorau</a> in 2021.
      </p>
      <p class="mt-2">See projects on the <a href="/">Home</a> page.</p>
      <img
        class="sm:w-3/3 md:w-2/3 lg:w-2/3"
        src="/images/me2.jpg"
        alt="Ihar Suvorau"
      />
      <p>
      I do not usually make bespoke software, but if you plan to change the world &mdash; let me know, <span class="italic">info@badwrong.dev</span>
      </p>
    </article>
  </main>
</Layout>
