---
import BalticEnergy from "../components/products/BalticEnergy.astro";
import Nutrients from "../components/products/Nutrients.astro";
import PublicRecords from "../components/products/PublicRecords.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bad & Wrong">
  <main>
    <div class="flex flex-grow flex-col justify-center">
      <section class="grid md:grid-cols-2 gap-x-8 gap-y-32 my-16 md:my-8">
        <Nutrients />
        <BalticEnergy />
        <PublicRecords />
      </section>
    </div>
  </main>
</Layout>

<style></style>
