---
import Layout2 from "../layouts/Layout2.astro";
import { ProjectCard } from "../v2/components/ProjectCard.tsx";
---

<Layout2 title="Bad & Wrong">
  <div class="running-text-container">
    <p class="running-text">
      <em>Bad & Wrong</em> is a one-person software engineering shop based in Tartu,
      founded in 2021 by Ihar Suvorau. If you are interested in a collaboration,
      please contact at <em>info@badwrong.dev</em>.
    </p>
  </div>
  <main id="projects">
    <header>
      <h1>Bad<span id="ampersand">&</span>Wrong</h1>
    </header>
    <ProjectCard
      rowSpan={6}
      heading="AI-assisted resume tuning to help your resume rank better in applicant tracking systems"
    />
    <ProjectCard
      heading="Visual Studio Code extension to replace brackets and quotes instead of inserting a new pair"
    />
    <ProjectCard
      heading="Apple Music to Spotify service to transfer playlists between music providers"
    />
    <ProjectCard
      heading="Food and nutritional database from Estonian grocery stores"
    />
    <ProjectCard
      rowSpan={6}
      heading="Electricity and natural gas market prices for Estonia, Finland, Latvia, and Lithuania"
    />
    <ProjectCard
      heading={`Publicly available audiobooks by volunteers of "LibriVox"`}
    />
  </main>
</Layout2>
