---
import Layout2 from "../layouts/Layout2.astro";
import { ProjectCard } from "../v2/components/ProjectCard.tsx";
---

<Layout2 title="Bad & Wrong">
  <main id="projects">
    <header>
      <h1>Bad<span id="ampersand">&</span>Wrong</h1>
      <!-- <p><em>Selected projects</em></p> -->
    </header>
    <ProjectCard
      className="card--tall"
      imageFit="contain"
      image="/images/Public-Records/public-records-2.png"
    >
      <h3>Publicly available audiobooks narrated by LibriVox volunteers</h3>
    </ProjectCard>
    <ProjectCard>
      <h3>
        Visual Studio Code extension to replace brackets and quotes instead of
        inserting a new pair
      </h3>
    </ProjectCard>
    <ProjectCard>
      <h3>
        Apple Music to Spotify service to transfer playlists between music
        providers
      </h3>
    </ProjectCard>
    <ProjectCard>
      <h3>Food and nutritional database from Estonian grocery stores</h3>
    </ProjectCard>
    <ProjectCard
      className="card--tall"
      imageFit="contain"
      imageWidth={55}
      image="/images/Baltic-Energy/BalticEnergy-44mm@2x.png"
    >
      <h3>
        Electricity and natural gas market prices for Estonia, Finland, Latvia,
        and Lithuania
      </h3>
    </ProjectCard>
    <ProjectCard>
      <h3>
        AI-assisted resume tuning to help your resume rank better in applicant
        tracking systems
      </h3>
    </ProjectCard>
  </main>
  <aside class="about">
    <section>
      <p>
        <em>Bad & Wrong</em> is a&nbsp;one-person software engineering shop based
        in&nbsp;Tartu, founded in 2021 by Ihar Suvorau.
      </p>
      <p>
        If you are interested in a&nbsp;collaboration, please contact at&nbsp;<em
          >info@badwrong.dev</em
        >.
      </p>
    </section>
  </aside>
</Layout2>
