---
---

<article class="flex flex-col items-center font-ligth text-5xl p-8">
    <div
        class="title-leading uppercase text-center max-w-xl lg:max-w-3xl leading-none tracking-wide"
    >
        <slot name="description" />
    </div>
    <div class="flex items-center min-h-[10em] my-8">
        <slot name="image" />
    </div>
    <section class="text-center mb-4 leading-normal">
        <div>
            <slot name="app-name" />
        </div>
        <div class="font-normal text-3xl leading-none">
            <slot name="tagline" />
        </div>
        <div class="text-xl mt-6">
            <slot name="legal" />
        </div>
    </section>
    <div>
        <slot name="badge" />
    </div>
</article>

<style>
    .title-leading {
        line-height: 1.15;
    }
</style>
