---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import HeaderBar from "../components/HeaderBar.tsx";
import "../styles/base.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <HeaderBar />
    <slot />
    <Footer />
  </body>
</html>
